<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574439854909-s6nne16ub2hhhqgf3bj19kq6rq6tli55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574439854909-s6nne16ub2hhhqgf3bj19kq6rq6tli55</string>
	<key>API_KEY</key>
	<string>AIzaSyDEvchYpmYvywXuLF666PZoYYozGsoLkZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>574439854909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaysaripinar.FotografliGunlukUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografligunluk-474b6</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografligunluk-474b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574439854909:ios:271285242d990d9343ab54</string>
</dict>
</plist>